DOMAIN=DOMAIN
PUBLIC_BASE_URL=https://DOMAIN

BOT_TOKEN=token
BOT_USERNAME=YourBotUsernameWithoutAt
ADMIN_TG_ID=admin_tgid
ROOM_TTL_MINUTES=30

POSTGRES_DB=mines
POSTGRES_USER=mines
POSTGRES_PASSWORD=pass
